table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th {
    height: 70px;
}

td {
    text-align: center;
}

thead {
    background-color: rgb(197, 194, 194);
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #333;
    color: white;
}

tbody tr td:hover {
    background-color: red;
    color: white;
}

tfoot {
    background-color: black;
    color: white;
}