.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}

.grid-item-1 {
    grid-area: header
}

.grid-item-2 {
    grid-area: main;
}

.grid-item-3 {
    grid-area: sidebar;
}

.grid-item-4 {
    grid-area: footer;
}

div[class^="grid"] {
    border:1px solid red
}