@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.navbar {
    border-bottom: 1px solid #333333;
}

.navbar-brand {
    font-family: "Poiret One", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    color:white;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: rgb(209,212,212);
}

.bg-dark {
    background-color: #006994!important;
}