<table class="table table-bordered w-50">
    <tr>
        <td class="fw-semibold">First Name</td>
        <td class="ps-2">{{person2.givenName}}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Surname</td>
        <td class="ps-2">{{person2.surName}}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Email</td>
        <td class="ps-2">{{person2.email}}</td>
    </tr>
    <tr>
        <td class="fw-semibold">Age</td>
        <td class="ps-2">{{person2.age}}</td>
    </tr>
</table>
