<div class="container mt-2">
    <div class="d-flex flex-column gap-2">
        <!-- <nav class="navbar navbar-dark bg-primary justify-content-between">
            <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink="">
                CF6 - Angular
            </a>
        </nav> -->
        <app-navbar></app-navbar>
        <div class="d-flex flex-row gap-2">
            <app-list-group-menu></app-list-group-menu>
            <div class="flex-grow-1 p-2 text-nowrap w-75">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>