<div class="d-flex flex-column">
    <h5>New Person Form</h5>
    <form #form="ngForm" class="d-flex flex-column">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input 
                matInput 
                type="text" 
                name="givenName" 
                required
                ngModel
                #givenName="ngModel"
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input 
                matInput 
                type="text" 
                name="surName" 
                required
                ngModel
                #surName="ngModel"
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input 
                matInput 
                type="number" 
                name="age" min="18" max="100" required
                ngModel
                #age="ngModel"
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input 
                matInput 
                type="text" 
                name="email" 
                required
                ngModel
                #email="ngModel"    
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <mat-select 
                name="address"
                ngModel
                #address="ngModel">
                <mat-option value="Road1">Road1</mat-option>
                <mat-option value="Road2">Road2</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-flat-button (click)="onSubmit(form.value)">
        Submit
    </button>
</div>
