/* Large */
@media (min-width:992px) and (max-width:1200px) {
    body {
        background-color: green;
    }
}

/* Extra Large */
@media (min-width:1201px) and (max-width:1400px) {
    body {
        background-color: red;
    }
}

/* xx-Large */
@media (min-width:1401px) {
    body {
        background-color: blue;
    }
}

/* x-small, small, medium */
@media (max-width:992px) {
    body {
        background-color: yellow;
    }
}