* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #762124;
}

.logo > img {
    height: 120px;
    width:auto;
}

.navbar {
    width:550px;
    /* background-color: azure; */
}

.navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    list-style: none;
}

.navbar .nav > li > a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar .nav > li:last-of-type {
    margin-right: 55px;
}

.navbar .nav a:active {
    background-color: cornflowerblue;
}

.navbar .nav>li>a:hover {
    background-color: white;
    color: #762124;
    transition: all 1s;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    padding-top: 50px;
    background-color: rgb(29, 92, 92);
    width: 120px;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.navbar .dropdown-content > li {
    width: 100%;
    border-bottom: 1px solid white;
}

.navbar .dropdown-content a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 1.1rem;
}

.navbar .dropdown-content a:hover {
    background-color: rgb(45, 99, 81);
}

.navbar .dropdown > a {
    position: relative;
    z-index: 1;
}

.navbar .dropdown:hover > .dropdown-content {
    display: flex;
}

.nav-toggle {
    display: none;
    margin-right: 30px;
}

.nav-toggle > button {
    width:50px;
    height: 50px;
}

/* Navbar Toggle */
.navbar-toggle {
    display: none;
}

.navbar-toggle .nav, 
.navbar-toggle .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}

.navbar-toggle li {
    width: 100%;
    list-style: none;
    text-align: center;
}

.navbar-toggle a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navbar-toggle .dropdown-content a {
    font-size: 1rem;
}

.show {
    display: block;
}

@media(max-width: 992px) {
    .nav-toggle {
        display: block;
    }

    .navbar {
        display: none;
    }
}

