/* Styling First Layout */

.flex-container-1 {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.header {
    background-color: tomato;
    flex: 0 100%;
}

.aside-1 {
    background-color: gold;
    /* flex: 0  100px; */
    flex: 1 100px;
}

.main {
    background-color: deepskyblue;
    /* flex: 0 100px; */
    flex: 3 100px;
}

.aside-2 {
    background-color: hotpink;
    /* flex: 0 100px; */
    flex: 1 100px;
}

.footer {
    background-color: lightgreen;
    flex: 0 100%;
}


@media all and (max-width:800px) {
    .flex-container-1 {
        display: flex;
        flex-flow: column;
    }

    .aside-1 {
        flex: 0 100%;
    }

    .main {
        flex: 0 100%;
    }

    .aside-2 {
        flex: 0 100%;
    }
}


/* Styling Second Layout */

.flex-container-2 {
    margin-top:20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.aside-3-left {
    background-color: gold;
    flex: 0 30%;
}

.aside-3-right {
    flex: 0 70%;
    display: flex;
    flex-flow: row wrap;
}

.aside-3-right .main {
    flex: 3;
}

.aside-3-right .aside-4 {
    flex: 1;
    background-color: aqua;
}

.aside-3-right .footer {
    flex: 0 100%;
}